{% extends "account/base.html" %}
{% block head_title %}Sign In{% endblock %}

{% load account socialaccount %}
{% get_providers as socialaccount_providers %}

{% block content %}
<h2>Login</h2>
<p>Welcome back</p>
<form method="post">
  {% csrf_token %}
  {% for field in form %}
    <p>
      {{ field.label_tag }}<br>
      {{ field }}
      {% if field.help_text %}
        <small style="color: grey">{{ field.help_text }}</small>
      {% endif %}
      {% for error in field.errors %}
        <p style="color: red">{{ error }}</p>
      {% endfor %}
    </p>
  {% endfor %}
  {# Assumes you setup the password_reset view in your URLconf #}
  <p><a href="{% url 'account_reset_password' %}">Lost password?</a></p>
  <p>
    <input type="submit" value="Login">
  </p>

  <div class="socialaccount_ballot">
    <p>OR</p>
    <ul class="socialaccount_providers">
      {% include "socialaccount/snippets/provider_list.html" with process="login" %}
    </ul>
  </div>    
</form>
{% endblock %}