<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    {% load notifications_tags %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'api/main.css' %}">
    <link rel="stylesheet" href="{% static 'api/profile.css' %}">
    <title>{% block title %}My amazing site{% endblock %}</title>
</head>

<body>
    <header>
        <div class="nav-container">
            <nav>
                <a href="{% url 'api:home' %}" class="brand">
                    <!--a href="" class="navbar-brand">Unsplash</a-->
                    <svg width="26" height="26" class="navbar-brand" version="1.1" viewBox="0 0 32 32"
                        aria-labelledby="unsplash-home" aria-hidden="false">
                        <title id="unsplash-home">Unsplash Home</title>
                        <path d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"></path>
                    </svg>
                </a>
                
                <form action="{% url 'api:searchimage' %}" method="GET" class="search-bar-form">
                    <input type="search" name="tags" id="" placeholder="Search ...">
                </form>

                {% if request.user.is_authenticated %}
                <section class="link-list-profile">
                    <button class="profile-pic" onclick="openMenu('profile-menu-container')" role="button" aria-haspopup="true" aria-expanded="false" type="button" >
                        <div class="profile-pic-container">
                            <img class="avatar"
                                srcset="https://images.unsplash.com/placeholder-avatars/extra-large.jpg?dpr=1&amp;auto=format&amp;fit=crop&amp;w=27&amp;h=27&amp;q=60&amp;crop=faces&amp;bg=fff 1x, https://images.unsplash.com/placeholder-avatars/extra-large.jpg?dpr=2&amp;auto=format&amp;fit=crop&amp;w=27&amp;h=27&amp;q=60&amp;crop=faces&amp;bg=fff 2x"
                                src="https://images.unsplash.com/placeholder-avatars/extra-large.jpg?auto=format&amp;fit=crop&amp;w=27&amp;h=27&amp;q=60&amp;crop=faces&amp;bg=fff"
                                role="presentation" alt="Avatar of user mohamed hamaida" width="27" height="27">
                        </div>
                        <span class="notificationcount"></span>
                    </button>
                    <div class="profile-menu">
                        <div class="profile-menu-container" id="profile-menu-container">
                            <div class="profile-menu-container-line"></div>
                            <ul class="profile-menu-list">
                                <li>
                                    <form>
                                        <button type="submit" class="notifications" formaction="{% url 'api:notificationspanel' %}">Notifications : {% notifications_unread %}</button>
                                    </form>
                                </li>
                                <li>
                                    <a href="{% url 'api:profile' request.user.id %}">Profile</a>
                                </li>
                                <li>
                                    <div class="submit-photo-container">
                                        <form>
                                            <button type="submit" class="submit-photo" formaction="{% url 'api:uploadimage' %}">Submit a photo</button>
                                        </form>
                                    </div>
                                </li>
                            </ul>
                            <hr class="menu-hr">
                            <ul class="logout-list">
                                <li>
                                    <a href="{% url 'account_logout' %}">Logout</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </section>
                {% else %}
                <section class="link-list-other">
                    <div class="hamburger-menu" onclick="openMenu('other-menu-container-mobile')">
                        <svg width="24" height="24" version="1.1" viewBox="0 0 32 32" aria-hidden="false">
                            <path d="M4 21.3h24V24H4v-2.7zM4 8v2.7h24V8H4zm0 9.3h24v-2.7H4v2.7z"></path>
                        </svg>
                    </div>
                    <div class="other-menu-container" id="other-menu-container-mobile">
                        <div class="other-menu-container-line"></div>
                        <ul class="other-menu-list">
                            <li>
                                <a href="{% url 'account_login' %}">Login</a>
                            </li>
                            <li>
                                <a href="{% url 'api:signup' %}">Join</a>
                            </li>
                            <li>
                                <div class="submit-photo-container">
                                    <form>
                                        <button type="submit" class="submit-photo" formaction="{% url 'api:uploadimage' %}">Submit a photo</button>
                                    </form>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="other-menu-container-web" id="other-menu-container-web">
                        <div>
                            <div class="submit-photo-container">
                                <form>
                                    <button type="submit" class="submit-photo"formaction="{% url 'api:uploadimage' %}">Submit
                                        <span class="only-on-big"> a photo</span></button>
                                </form>
                            </div>
                            <div class="other-menu-list">
                                <a href="{% url 'account_login' %}" class="login">Login</a>
                                <a href="{% url 'api:signup' %}" class="join">Join free</a>
                            </div>
                        </div>
                    </div>
                </section>
                {% endif %}
            </nav>
        </div>
    </header>

    


    <div id="content">
        {% block content %}

        {% endblock %}
    </div>
    
    
    <script>
        function openMenu(menu_id) {
            var x = document.getElementById(menu_id);
            if (x.style.display === 'none' || x.style.display === '') {
                x.style.display = 'block';
                x.style.transition = '5s';
            } else {
                x.style.display = 'none'
            }
        }
    </script>
</body>

</html>